body {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(0, 0, 255, 0.8);
}

ul {
  padding: 0;
  margin: 0;
}

header,
main,
footer {
  background-color: rgba(230, 230, 230, 1);
  border: rgba(200, 200, 200, 0.6) solid 2px;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0px 5px 0px;
}

section {
  border: rgba(200, 200, 200, 0.6) solid 2px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px 10px 0px;

  display: none;
  &:target {
    display: block;
  }
}

footer {
  display: flex;
  justify-content: center;
}

.logoImg {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px grey;
}

@media (max-width: 768px) {
  .logoImg {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px grey;
  }
}

.navItem {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contactmeItem {
  list-style-type: none;
}

.homeSection {
  color: rgba(100, 100, 0, 0.8);
}

.aboutSection {
  color: rgba(0, 80, 40, 0.8);
}

.contactSection {
  color: rgba(0, 0, 200, 0.7);
}

.copyright {
  font-size: 0.8rem;
  padding-left: 0.2rem;
}

.ic--baseline-copyright {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M11.88 9.14c1.28.06 1.61 1.15 1.63 1.66h1.79c-.08-1.98-1.49-3.19-3.45-3.19C9.64 7.61 8 9 8 12.14c0 1.94.93 4.24 3.84 4.24c2.22 0 3.41-1.65 3.44-2.95h-1.79c-.03.59-.45 1.38-1.63 1.44c-1.31-.04-1.86-1.06-1.86-2.73c0-2.89 1.28-2.98 1.88-3M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
